* {
    list-style-type: none;
}

html {
    height: 100%;
}

.header {
    position: absolute;
    top: 0;
    z-index: 9100;
    display: block;
    width: 100%;
    height: 90px;
    border: 1px solid red;
}

.header_aligner {
    display: flex;
    justify-content: center;
    height: 90px;
    padding: 0;
    max-width: 128rem;
    margin: 0 auto;
    pointer-events: none;
    border: 1px solid blue;
}

.header_logo {
    margin-top: -1px;
    display: flex;
    align-items: center;
    float: left;
    height: 100%;
    pointer-events: auto;
    border: 1px solid blue;
}

.logo {
    display: flex;
    padding: 0;
}

.header_util {
    margin-top: -1px;
    height: 100%;
    pointer-events: auto;
    border: 1px solid blue;
}

.util {
    margin-top: -1px;
    display: flex;
    align-items: center;
    float: left;
    height: 100%;
    pointer-events: auto;
    border: 1px solid blue;
}

.util_list {
    padding: 0;
}

.util_list li {
    float: left;
}

#util_item {
    vertical-align: middle;
}

#util_item-login {
    vertical-align: middle;
    height: 44px;
    padding-right: .8rem;
}